@{
    ViewData["Title"] = "Trucks";
}
@using Milkify.Core.Datatable.DatatableRequests.RequestModels
@using Milkify.Core.Dtos
@using Milkify.Core.Extensions
@using X.PagedList.Mvc.Common
@using X.PagedList.Mvc.Core
@model Milkify.Core.Datatable.DatatableRequests.DatatableResult

<div class="card">
    <div class="card-header"><h5>Trucks</h5></div>
    <div class="card-body">
        @if (User.IsInRole("Admin") || @User.IsInRole("Seller"))
        {
        <a class="btn btn-primary mb-2" asp-action="Create">Create Truck</a>
        }
        
        @await Html.PartialAsync("~/Views/Common/Datatable.cshtml", @Model)
    </div>
</div>