*.map
.vs
packages
package-lock.json
Milkify/bin/*
Milkify/obj/*
Milkify/node_modules/*
Milkify/wwwroot/css/compiled/*
Milkify.Core/bin/*
Milkify.Core/obj/*
Milkify.DAL/bin/*
Milkify.DAL/obj/*
Milkify.Services/bin/*
Milkify.Services/obj/*
Milkify.PdfGenerator/bin/*
Milkify.PdfGenerator/obj/*
Milkify.UnitTests/bin/*
Milkify.UnitTests/obj/*