@{
    ViewData["Title"] = "Orders";
}
@model Milkify.Core.Dtos.ProductDto

<div class="card">
    <div class="card-header"><h5>Edit Product</h5></div>
    <div class="card-body">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label">Product Name</label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">Product Price</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label">Product Weight</label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label">Category</label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId">
                    <option value="">-- Select Category --</option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script>
    var placeSearch, autocomplete;
    
    function initAutocomplete() {
        autocomplete = new google.maps.places.Autocomplete(
            document.getElementById('addressAutocomplete'), { types: ['address'] });
        
        autocomplete.setFields(['address_component']);
        
        autocomplete.addListener('place_changed', fillInAddress);
    }

    function fillInAddress() {
        var place = {
            address: $("#addressAutocomplete")[0].value,
            longitude: 0,
            latitude: 0
        }
        $.ajax({
            url: "/Address/GetLocationId",
            data: JSON.stringify(place),
            contentType: "application/json",
            method: "POST",
            success: function(result) {
                document.getElementById("CityId").value = result;
            }
        });
    }

    function geolocate() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var geolocation = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                var circle = new google.maps.Circle(
                    { center: geolocation, radius: position.coords.accuracy });
                autocomplete.setBounds(circle.getBounds());
            });
        }
    }
</script>
