@{
    ViewData["Title"] = "Customers";
}
@model Milkify.Core.Dtos.CustomerDto

<div class="card">
    <div class="card-header"><h5>Create Customer</h5></div>
    <div class="card-body">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Customer Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label">Customer Phone Number</label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationId" class="control-label">Customer Address</label>
                <input id="addressAutocomplete" class="form-control" />
                <span asp-validation-for="LocationId" id="Location" class="text-danger"></span>
                <input asp-for="LocationId" id="LocationId" hidden class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDoFXXuHYpHNtkSa87jEMBgxGyW2jO1IhE&libraries=places&callback=initAutocomplete" async defer></script>

<script>
    var placeSearch, autocomplete;

    function initAutocomplete() {
        autocomplete = new google.maps.places.Autocomplete(
            document.getElementById('addressAutocomplete'), { types: ['address'] });

        autocomplete.setFields(['address_component']);

        autocomplete.addListener('place_changed', fillInAddress);
    }

    function fillInAddress() {
        var place = {
            address: $("#addressAutocomplete")[0].value,
            longitude: 0,
            latitude: 0
        }
            
        $.ajax({
            url: "/Address/GetLocationId",
            data: JSON.stringify(place),
            contentType: "application/json",
            method: "POST",
            success: function (result) {
                document.getElementById("LocationId").value = result;
            }
        });
    }

    function geolocate() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var geolocation = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                var circle = new google.maps.Circle(
                    { center: geolocation, radius: position.coords.accuracy });
                autocomplete.setBounds(circle.getBounds());
            });
        }
    }
</script>
