@{
    ViewData["Title"] = "404";
}
<div class="row not-found-row">
    <div class="col-4 offset-4">
        <div class="card not-found-card">
            <div class="card-body">
                <div class="flex-row labels">
                    <div class="label-404">404</div>
                    <div class="page-label">PAGE NOT FOUND</div>
                </div>
                <hr class="mt-2"/>
                <div class="description text-center">The page that you have requested does not exist.</div>
            </div>
        </div>
    </div>
</div>
